* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
  list-style: none;
}

body {
  background-image: linear-gradient(to bottom, #04082793, #6a737a);
  height: 100vh;
  font-family: 'Libre Baskerville', serif;
  display: flex;
  flex-direction: column;
}

.title1 {
  font-size: 35px;
  text-decoration: none;
  font-weight: 700;
}

h1,
h2 {
  margin: 40px 0;
  text-align: center;
  z-index: 99;
  color: #fff;
}

span {
  color: rgb(224, 104, 104);
}

.time-div p {
  color: #fff;
  font-weight: 700;
  text-align: end;
  margin: 40px 100px 0 0;
}

.container {
  position: relative;
  flex-wrap: wrap;
  gap: 6px;
  color: #fff;
}

#div-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.books {
  position: relative;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 5px;
  align-items: center;
}

.myDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
}

.myDiv:nth-child(even) {
  background-color: rgb(170, 169, 169);
}

.myDiv:nth-child(odd) {
  background-color: rgb(146, 143, 143);
}

.remove {
  background-color: rgb(224, 104, 104);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 3px #504e4e;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.5s ease;
}

.remove:hover {
  color: rgb(224, 104, 104);
  background-color: #fff;
}

hr {
  width: 100px;
  align-self: center;
  background-color: rgb(170, 169, 169);
  margin: 20px 0;
}

#form {
  gap: 10px;
  width: 30%;
  margin: 20px auto;
}

#form label {
  width: 100%;
}

#form input {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  width: 100%;
}

#form button {
  align-self: flex-end;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 3px #504e4e;
  background-color: rgb(66, 155, 25);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 40px;
  transition: all 0.5s ease;
}

#form button:hover {
  color: rgb(66, 155, 25);
  background-color: #fff;
}

.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

@media (max-width: 768px) {
  #form {
    width: 70%;
  }

  .books {
    width: 90%;
  }
}

/* styling the navbar */
.navContainer {
  display: flex;
  flex-direction: row;
  background-color: rgb(194, 194, 194);
  max-height: 100px;
  justify-content: space-around;
  align-items: center;
}

.navUl {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  color: black;
  width: 40%;
  align-items: center;
}

.navLi {
  font-weight: bold;
  border: 0.8px solid rgb(170, 169, 169);
  padding: 8px;
}

.navLi:hover {
  background-color: rgb(224, 104, 104);
}

.navImg {
  display: none;
}

@media screen and (max-width: 500px) {
  .navUl {
    display: none;
  }

  .navImg {
    display: block;
  }

  .closeImg,
  .navImg {
    width: 30px;
  }
}

.navActive {
  background-color: rgb(170, 169, 169);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s ease-in;
}

.closeImgActive {
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  height: 40px;
  width: 40px;
  transition: 0.8s ease-in-out;
}

.navUlActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 100%;
  transition: 1.8s ease-in;
}

.navLiActive {
  font-size: 30px;
}

.contactInfoActive {
  display: flex;
  flex-direction: column;
}

.contactInfoDiv {
  margin-top: 80px;
}

.contactInfoDiv li {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.pointer {
  cursor: pointer;
}
